# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/

# Virtual environment
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDE / Editor specific
.idea/
.vscode/

# Private keys should never be committed to version control
keys/private/